@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.card {
  background-color: $color--white;
  padding: 4rem;
  border-radius: 30px;
  border-bottom-right-radius: 150px;

  @include flexCenter;
  align-items: flex-start;

  @media only screen and (max-width: 600px) {
    gap: 4.8rem;
  }

  @media only screen and (max-width: 500px) {
    padding: 6.4rem 3rem;
    gap: 4rem;
  }

  .inputs {
    margin-right: 14rem;

    @include flexCenter(row);
    gap: 3rem;

    @media only screen and (max-width: 600px) {
      margin-right: 0;
    }

    @media only screen and (max-width: 500px) {
      gap: 1rem;
    }

    .input__container {
      @include flexCenter;
      align-items: flex-start;
      gap: 1rem;

      .input {
        outline: none;
        background: none;
        max-width: 14.4rem;
        padding: 0.6rem 1.6rem;
        border-radius: 6px;
        border: 1px solid $color--light_grey;
        font-family: inherit;
        font-weight: $fw--bold;
        caret-color: $color--purple;
        transition: all 0.3s;

        @media only screen and (max-width: 600px) {
          max-width: 12rem;
        }

        &:active,
        &:focus {
          border-color: $color--purple;
        }

        &::placeholder {
          font-family: inherit;
          color: $color--smokey_grey;
          font-size: $fst-normal;
        }
      }
    }
  }

  .container__divider {
    width: 100%;

    .divider {
      width: 100%;
      height: 1px;
      background-color: $color--light_grey;
      transform: translateY(-3.6rem);
    }

    .icon__divider {
      position: relative;
      display: block;
      margin-left: auto;
      background-color: $color--purple;
      border-radius: 50%;
      padding: 2rem;
      width: 7.4rem;
      height: 7.4rem;
      z-index: 2;
      transition: all 0.3s;
      cursor: pointer;

      @media only screen and (max-width: 600px) {
        margin: 0 auto;
      }

      &:active {
        background-color: $color--off_black;
      }
    }
  }
}
