@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Global Rest
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: 800px) {
    font-size: 56.25%;
  }

  @media only screen and (max-width: 700px) {
    font-size: 50%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 43.75%;
  }
}

body {
  font-family: $ff-poppins;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;

  background-color: $color--off_white;

  @include flexCenter;

  @media only screen and (max-width: 600px) {
    height: fit-content;
    padding: 20rem 0;
  }

  @media only screen and (max-width: 500px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.attribution {
  text-align: center;
  margin-top: 2rem;
}
