@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.label__input {
  text-transform: uppercase;
  font-weight: $fw--bold;
  letter-spacing: 2px;
  color: $color--smokey_grey;
  font-size: 1.2rem;
}

.input {
  font-size: $fsz-input;
  font-weight: $fw--bold;
}

.message__error {
  color: $color--light_red;
  font-style: $fst-italic;
}

.result {
  @include flexCenter;
  align-items: flex-start;

  .text {
    font-size: 8.4rem;
    font-weight: $fw--bolder;
    font-style: $fst-italic;
    line-height: 1.1;
    color: $color--off_black;

    @media only screen and (max-width: 600px) {
      font-size: 6.4rem;
    }

    .output {
      color: $color--purple;
      letter-spacing: 16px;
    }
  }
}
