.hidden {
  display: none !important;
}

// GETTING RID OF INCREMENT AND DECREMENT ARROWS INSIDE INPUT FIELDS

// Hide arrows in WebKit-based browsers (Chrome, Safari)

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// Hide arrows in Firefox
input[type='number'] {
  -moz-appearance: textfield;
}

// Hide arrows in MS Edge and IE
input[type='number'] {
  appearance: textfield;
}
