$color--purple: hsl(259, 100%, 65%);
$color--light_red: hsl(0, 100%, 67%);
$color--white: hsl(0, 0%, 100%);
$color--off_white: hsl(0, 0%, 94%);
$color--light_grey: hsl(0, 0%, 86%);
$color--smokey_grey: hsl(0, 1%, 44%);
$color--off_black: hsl(0, 0%, 8%);

$ff-poppins: 'Poppins', sans-serif;

$fsz-input: 3.2rem;

// $Family: [Poppins](https://fonts.google.com/specimen/Poppins)
$fw--normal: 400;
$fw--bold: 700;
$fw--bolder: 800;

$fst-normal: normal;
$fst-italic: italic;
